.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main-container {
  background-color: beige;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.draggable {
  cursor: move;
  cursor: pointer;
}

.canvas {
  background-color: beige;
  margin-top: 15%;
  margin-left: 25%;
}
